*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #344151;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.CounterHeading{
    color: #0398d4;
    font-size: 25px;
    
}

.container1{
    display: flex;
    background-color: white;
    font-size: 25px;
    border-radius: 2px;
    margin:1em;
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
    padding: 1.8rem 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.container1 button{
    font-size: 2rem;
    margin: 10px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    gap: 2rem solid black;
}

.container1 #decrement{
    padding: 0 10px 0 5px;
    border-right: 0.1rem solid #bfbfbf;
}
.container1 #increment{
    padding: 0 5px 0 10px;
    border-left: 0.1rem solid #bfbfbf;
}

.container2{
    display: flex;
    background-color: white;
    font-size: 25px;
    border-radius: 2px;
    margin:1em;
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
    padding: 1.8rem 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.container2 button{
    font-size: 2rem;
    margin: 10px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.container2 .counting{
    font-size: 1.7rem;
}

.container2 #decrementTen{
    padding: 0 14px 0 5px;
    border-right: 0.1rem solid #bfbfbf;
}
.container2 #incrementTen{
    padding: 0 5px 0 14px;
    border-left: 0.1rem solid #bfbfbf;
}

